:root {
    --background: #ffffff;
    --foreground: #171717;
    --blue1: #A3CCE0;
    --blue2: #00ABFA;
    --blue3: #297BD4;
    --blue4: #031996;
    --blue5: #064972;
    --white: #C1C6E1;
    --grey: #D9D9D9;
    --beige: #EEEBEB;
}

.container {
    display: flex; /* Enables horizontal alignment */
    justify-content: flex-start; /* Align items to the left */
    align-items: center; /* Vertically center items */
    gap: 20px; /* Adds space between the buttons */
    padding: 20px; /* Optional: Adjust spacing around the buttons */
    margin-top: 200px
}

.main {
    border-radius: 65px;
    background: var(--beige);
    width: 285px;
    height: 81px;
    display: flex;
    align-items: center;
    padding-left: 10px; /* Adjusts the spacing inside the button */
    cursor: pointer;
    transition: background 0.3s ease;
}

.main:hover {
    background: var(--grey);
}

.text {
    color: black;
    font-family: Outfit, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-left: 10px; /* Adjust spacing between icon and text */
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 10px; /* Moves icon closer to the text */
    flex-shrink: 0; /* Ensures the icon doesn’t shrink in size */
}

.add {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}