:root {
    --background: #ffffff;
    --foreground: #171717;
    --blue1: #A3CCE0;
    --blue2: #00ABFA;
    --blue3: #297BD4;
    --blue4: #031996;
    --blue5: #064972;
    --white: #C1C6E1;
    --grey: #D9D9D9;
}

.container {
    position: relative; /* Sets a reference point for stacking */
    width: 20%; /*width of container*/
    height: 45vh; /*height of container*/

    /*adjust margins */
<<<<<<< HEAD
    margin-top: 40%; 
    margin-left: 12%;
    margin-bottom: -40%;
=======
    margin-top: 20%; 
    margin-left: 12%;
>>>>>>> 47166de4f9242a2828b36d3a38ae769bd2b3090f
}
.frame {
    position: absolute; /* Stack element relative to the container */
    
    /*adjust frame to container size*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 42px;
    background: var(--blue3);
    z-index: 1; /* Ensures it's below the lining */
}
.lining{
    position: absolute;

    /*adjust position*/
    top: 20%; 
    left: 0; 

    /*adjust size*/

    width: 100%; /* Adjust to span across the frame */
    height: 1%; /* Visible height for the line */
    background: #FFF;
    z-index: 2;
}
.lining2{
    position: absolute;
    /*adjust position*/
    top: 0;
    left: 13%;
    /* adjust size*/
    width: 1%;
    height: 21%;
    background: #FFF;
    z-index: 2;
}
<<<<<<< HEAD
.linecontain{
=======
.liningcontain{
>>>>>>> 47166de4f9242a2828b36d3a38ae769bd2b3090f
    position: absolute;
    /*adjust position*/
    top: 30%;
    left: 15%;
    /*adjust size*/
    width: 73%;
    height: 0.5%;
    background: #FFF;
    z-index: 2;
<<<<<<< HEAD
    
}
.lining3{
    position: absolute;
    /*adjust position*/
    top: 37%;
    left: 15%;

    /*adjust size*/
    width: 73%;
    height: 0.5%;
    background: #FFF;
    z-index: 2;
    
}
.lining4{
    position: absolute;
    /*adjust position*/
    top: 44%;
    left: 15%;

    /*adjust size*/
    width: 73%;
    height: 0.5%;
    background: #FFF;
    z-index: 2;
    
}
.lining5{
    position: absolute;
    /*adjust position*/
    top: 51%;
    left: 15%;

    /*adjust size*/
    width: 73%;
    height: 0.5%;
    background: #FFF;
    z-index: 2;
    
}
.lining6{
    position: absolute;
    /*adjust position*/
    top: 58%;
    left: 15%;

    /*adjust size*/
    width: 73%;
    height: 0.5%;
    background: #FFF;
    z-index: 2;
    
}
.lining7{
    position: absolute;
    /*adjust position*/
    top: 65%;
    left: 15%;

    /*adjust size*/
    width: 73%;
    height: 0.5%;
    background: #FFF;
    z-index: 2;
    
}
.lining8{
    position: absolute;
    /*adjust position*/
    top: 72%;
    left: 15%;

    /*adjust size*/
    width: 73%;
    height: 0.5%;
    background: #FFF;
    z-index: 2;
    
}
.lining9{
    position: absolute;
    /*adjust position*/
    top: 79%;
    left: 15%;

    /*adjust size*/
    width: 73%;
    height: 0.5%;
    background: #FFF;
    z-index: 2;
    
}
.lining10{
    position: absolute;
    /*adjust position*/
    top: 79%;
    left: 15%;

    /*adjust size*/
    width: 73%;
    height: 0.5%;
    background: #FFF;
    z-index: 2;
    
}
.lining11{
    position: absolute;
    /*adjust position*/
    top: 86%;
    left: 15%;

    /*adjust size*/
    width: 73%;
    height: 0.5%;
    background: #FFF;
    z-index: 2;
    
}
.checkbox{
    width: 22%;
    height: 12%;
    flex-shrink: 0;
    z-index: 2000;
    position: absolute

   
=======
>>>>>>> 47166de4f9242a2828b36d3a38ae769bd2b3090f
}