:root {
    --background: #ffffff;
    --foreground: #171717;
    --blue1: #A3CCE0;
    --blue2: #00ABFA;
    --blue3: #297BD4;
    --blue4: #031996;
    --blue5: #064972;
    --white: #C1C6E1;
    --grey: #D9D9D9;
}

.frame {
    border-radius: 42px;
    background: #297BD4;
}