:root {
    --background: #ffffff;
    --foreground: #171717;
    --blue1: #A3CCE0;
    --blue2: #00ABFA;
    --blue3: #297BD4;
    --blue4: #031996;
    --blue5: #064972;
    --blue6: #064972;
    --white: #C1C6E1;
    --grey: #D9D9D9;
}

.frame {
    position: relative;
    width: 25%; 
    height: 25vh;
    background: var(--blue6);
    border-radius: 42px;
    margin-right: 3%;
    margin-top: 15%;
    margin-left: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    border-radius: 42px;
    background: rgba(217, 217, 217, 0.5); /* Transparent background */
    width: 60%;
    height: 15vh;
    position: relative;
    top: -10%; /* Position box */
    left: 5%;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: flex-start; /* Align content to the left */
    gap: 10px; /* Add space between recipe name and additional text */
    color: #ffffff; /* Text color */
    text-align: left; /* Left-align text inside the elements */
    overflow: hidden;
    padding: 10px 10px 10px 20px; /* Add left padding for spacing */
    flex-shrink: 0;
}

.additionalText {
    font-size: 12px; /* Smaller font size for subtext */
    color: #ffffff; /* Text color matches recipe name */
    margin-top: 0; /* Keep aligned without extra spacing */
}

.text {
    position: absolute; 
    margin-top: 4%;
    margin-left: 6%;
    font-size: 20px; /* Adjust as needed */
    color: #ffffff; /* Text color */
}

.expand_icon {
    position: absolute;
    margin-top: 6%;
    margin-left: 88%;
    fill: none;
}

.bowl_icon {
    position: absolute;
    margin-top: 20%;
    margin-left: 69%;
    fill: none;
}
